<section class="homepage-top">
	<div class="container">
		<h1 class="name col-md-offset-2"><span class="first-name">Alan</span><span class="last-name">Salganik</span></h1>
		<div class="tube-first col-md-offset-4">
		</div>
		<div class="about-me col-md-6 col-md-offset-5">
			<h1 class="about-me-header">Always learning.</h1>
			<p class="about-me-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendreri.</p>
		</div>
		<div class="tube-second col-md-offset-4">
	</div>
</section>

<section class="homepage-second">
	<div class="container">
		<div class="tube col-md-offset-4"></div>
		<div>
			
		</div>
	</div>	
</section>




<section id="set-1">
	<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
		<a href="#set-1" class="hi-icon hi-icon-mobile">Mobile</a>
		<a href="#set-1" class="hi-icon hi-icon-screen">Desktop</a>
	</div>
</section>